html {
    box-sizing: border-box;
}
body {
    font-family: $default_font;
    font-size:16px;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

.link--phone {
    text-decoration:none;
}

.content {
    background-color:#ffffff;
    float:left;
    width:100%;
}