$paragraph--1 : rem(16);
$paragraph--2 : rem(13);
$paragraph--3 : rem(11);

.heading--1,
.heading--2,
.heading--3,
.heading--4,
.heading--5,
.heading--6{
    font-family: $default_font;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
}

.paragraph--1,
.paragraph--2{
    font-family: $default_font;
}

.heading--1,
.heading--2 {
    font-family: $font-family--2;
}

.heading--1 {
    font-size: rem(23);
}
.heading--2 {
    font-size:rem(22);
    font-weight:400;
    text-transform: uppercase;
}
.heading--3 {
    font-size: rem(20);
    font-weight:400;
    padding:0 0 10px 0;
}
.heading--4 {
    font-size: rem(16);
    font-weight:300;
    padding:0;
}
.heading--5 {
    font-size: rem(15);
}
.heading--6 {
    font-size:rem(80);
}

.heading--bold {
    font-weight:700;
}


.paragraph--1 {
    //font-size: rem(16);
    font-size: $paragraph--1;
    font-weight:300;
    margin:0 0 20px 0;
    line-height:1.5em;
}
.paragraph--2 {
    //font-size: rem(13);
    font-size: $paragraph--2;
    font-weight:300;
    margin:0 0 20px 0;
    line-height:1.5em;
}
.paragraph--3 {
    //font-size: rem(11);
    font-size: $paragraph--3;
    font-weight:300;
    margin:0 0 20px 0;
    line-height:1.5em;
}


@media (min-width: $screen-sm-min) {
    .sm-alignright {
        text-align:right;
    }
    .sm-alignleft {
        text-align:left;
    }
}

